<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/count.js"></script>
    <link rel="icon" href="img/icon.png" />
    <title>Ramadhan 2023 Countdown</title>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body onload="identify()">
    <div class="lattern">
    </div>
    
    <div class="background">


    <div class="mid">
        <h1 style="color: #34708D; font-family: AwalRamadhan; font-size: 53px;">Ramadhan 2025</h1>
        <div class="d-flex">
            <div class="card">
                <h2 id="days"></h2>
                <p>DAYS</p>
            </div>
            <div class="card">
                <h3 id="hours"></h3>
                <p>HOURS</p>
            </div>
            <div class="card">
                <h3 id="minutes"></h3>
                <p>MINUTES</p>
            </div>
            <div class="card">
                <h3 id="seconds"></h3>
                <p>SECONDS</p>
            </div>
        </div>
    </div>
    
    <div class="mosque">
        
    </div>
</div>

        
    
    <script defer src="node_modules/@vercel/analytics/dist/index.js"></script>
    <script src="js/script.js"></script>
</body>

</html>

